doctype html
html
    head 
        // External CSS
        link(rel="stylesheet" href="style.css")
        // Inline CSS
        style. 
            p {
                color: red;
                text-decoration: underline
            }
    body 
        // Example 1
        p(style="text-align: center; text-transform: uppercase") This is an HTML file! 

        // Example 2
        - const pStyles = {"text-align": "center", "text-transform": "uppercase"};
        p(style=pStyles) This is an HTML file! 


