doctype html 
html 
    head 
    body 
        h1 For/Each Loop 
        - const names = ["Dom", "Sophie", "Mark"];
        - const grades = {"Web Dev": 100, "Software Design": 76};
        for n, i in []
            p= n + " - " + i
        else 
            strong No values are here!